@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font-family: Lato, sans-serif;
    background: #ffffff;
    color: #55779f;
}

.search {
    color: black;
    text-shadow: none;
    border: 2px #7aafed solid;
    border-radius: 15px;
    background: white;
    margin: 10px 0px 2px 0px;
    padding: 5px 5px 5px 5px;
    min-height: 25px;
}

.sub {
    color: #e1e3ff;
    font-size: 10pt;
}
